@import "./variable.less";

html,
body {
  font-size: @BaseFontSize;
}
.main-div {
    margin-top: 2%;
    padding: 4rem;
    @media screen and (max-width: 625px) {
      padding: 1rem;
    }
    &.pad {
      padding: 2.4rem;
    }
  
    &.bg-white {
      background: @WhiteColor;
    }
  }
  .space-between {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0.4em;
  
    .box {
      margin: 2rem;
    }
  }

.nitrozen-scrollbar {
    /* scrollbar */
    &::-webkit-scrollbar {
        width: 5px;
        background-color: @WhiteColor;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
        background-color: @WhiteColor;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        border-radius: 2.5px;
        background-color: #6b6b6b;
    }
}

.nitrozen-menu-scrollbar {
    /* scrollbar */
    &::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        border: 1px solid @BorderColor;
        background-color: @BackgroundColor;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        border: 3px solid @BackgroundColor;
        background-clip: padding-box;
        background: @ScrollBarThumbColor;
        width: 4px;
        border-radius: 5px;
    }
}