@font-face {
  font-family: "JioType";
  src: url(https://cdn.pixelbin.io/v2/falling-surf-7c8bb8/fyprod/wrkr/misc/general/free/original/JioType-Light_0.ttf)
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JioType";
  src: url(https://cdn.pixelbin.io/v2/falling-surf-7c8bb8/fyprod/wrkr/misc/general/free/original/JioType-Medium_0.ttf)
    format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "JioType";
  src: url(https://cdn.pixelbin.io/v2/falling-surf-7c8bb8/fyprod/wrkr/misc/general/free/original/JioType-Bold_0.ttf)
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "JioType";
  src: url(https://cdn.pixelbin.io/v2/falling-surf-7c8bb8/fyprod/wrkr/misc/general/free/original/JioType-MediumItalic_0.ttf)
    format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "JioType";
  src: url(https://cdn.pixelbin.io/v2/falling-surf-7c8bb8/fyprod/wrkr/misc/general/free/original/JioType-LightItalic_0.ttf)
    format("truetype");
  font-weight: normal;
  font-style: italic;
}
