
.dynamic-variables-if(@condition) when (@condition = 'netmeds') {
    // .dynamic-css(@primary-color);
    @ColorPrimary50: yellow;
    @light-primary-80: #002b03;

    @light-primary-70: #004e22;

    @light-primary-60: #0c7332;

    @light-primary-50: #00ad3f;
    --ColorPrimary50 : #00ad3f;
    // @ColorPrimary50: var(--ColorPrimary50, #00ad3f);

    @light-primary-40: #67ef94;

    @light-primary-30: #89ff8f;

    @light-primary-20: #e5f7e8;
  }
  
  .dynamic-variables-if(@condition) when (@condition = 'jiomart') {
    // .dynamic-css(@primary-color);
    @ColorPrimary50: green;
    --ColorPrimary50: #0078ad;
    @light-primary-80: #001e2b;

    @light-primary-70: #00364e;

    @light-primary-60: #0c5273;

    @light-primary-50: #0078ad;

    @light-primary-40: #67c3ef;

    @light-primary-30: #89dcff;

    @light-primary-20: #e5f1f7;

    @light-primary-inverse: #FFFFFF;

    @light-primary-background: #FFFFFF;

    @light-primary-grey-100: #141414;

    @light-primary-grey-80: rgba(0, 0, 0, 0.65);

    @light-primary-grey-60: #B5B5B5;

    @light-primary-grey-40: #E0E0E0;

    @light-primary-grey-20: #F5F5F5;

 

    @light-secondary-80: #390105;

    @light-secondary-70: #660209;

    @light-secondary-60: #A80000;

    @light-secondary-50: #E30513;

    @light-secondary-40: #FC6770;

    @light-secondary-30: #FF9DA3;

    @light-secondary-20: #FCE6E7;

    @light-secondary-inverse: #FFFFFF;

 

    @light-sparkle-80: #46070B;

    @light-sparkle-70: #7B1604;

    @light-sparkle-60: #CD3D00;

    @light-sparkle-50: #FA7D19;

    @light-sparkle-40: #FFAA66;

    @light-sparkle-30: #FFD2AD;

    @light-sparkle-20: #FEF2E9;

    @light-sparkle-inverse: #46070B;

 

 

    //Semantic Colors

    @light-feedback-error-20: #FEE6EA;

    @light-feedback-error-50: #F50031;

    @light-feedback-error-80: #660014;

    @light-feedback-warning-20: #FEF0E7;

    @light-feedback-warning-50: #F06D0F;

    @light-feedback-warning-80: #7D2F08;

    @light-feedback-success-20: #E9F7E9;

    @light-feedback-success-50: #25AB21;

    @light-feedback-success-80: #135610;

 

    @light-link: #0A2885;

 

    @light-global-black: #141414;

    @light-global-white: #FFFFFF;

    @active-navigation-link: #AA77E2;
  }
  

