@import "./variable.less";

h1 {
  font-size: @BaseFontSize + 50;
  font-family: @PrimaryFont;
  color: @TypographyPrimaryColor;
}

h2 {
  font-size: @BaseFontSize + 32;
  font-family: @PrimaryFont;
  color: @TypographyPrimaryColor;
}

h3 {
  font-size: @BaseFontSize + 20;
  font-family: @PrimaryFont;
  color: @TypographyPrimaryColor;
}

h4 {
  font-size: @BaseFontSize + 14;
  font-family: @PrimaryFont;
  color: @TypographyPrimaryColor;
}

h5 {
  font-size: @BaseFontSize + 8;
  font-family: @PrimaryFont;
  color: @TypographyPrimaryColor;
}

h6 {
  font-size: @BaseFontSize + 4;
  font-family: @PrimaryFont;
  color: @TypographyPrimaryColor;
}
