@import './fonts.less';

@PrimaryColor: #36cc9b;
@PrimaryHoverColor: #2eb589;
@PrimaryDisabledColor: #b5ffe7;

// @SecondaryColor: #5c6bdd;
@SecondaryColor: #2E31BE;
// @SecondaryHoverColor: #4f5ecc;
@SecondaryHoverColor: #2E31A1;
// @SecondaryDisabledColor: #d5daff;
@SecondaryDisabledColor: #E0E0E0;

@TypographyPrimaryColor: #41434c;
// @TypographySecondaryColor: #9b9b9b;
@TypographySecondaryColor: #666666;
@TypographyTertiaryColor: #999999;

@PrimaryFont: 'Inter', sans-serif;

@WhiteColor: #ffffff;
@PrimaryTextColor: #36cc9b;
@LabelColor: #9b9b9b;

@BackgroundColor: #f8f8f8;

@PlaceholderColor: #a4a4a4;
@TextFieldColor: #d7d7d7;
@HoverColor: #f3f3f3;
@DividerColor: #cecece;

@WarningColor: #FAB000;
@WarningBorderColor: #FF3333;
@ProcessingColor: #33b5e5;
@InfoColor: #33b5e5;
@ProgressColor: #FAB000;
@SuccessColor: #1BBB33;
@ErrorColor: #FF3333;
@DisabledColor: #c2c2c2;

// @BorderColor: #eeeeee;
@BorderColor: #E0E0E0;
@InputBorderColor: #e4e5e6;
@ChipBorderColor: #e4e5e6;

@BoxShadow: #dadada;

@TooltipBackground: #ebedfb;

@BaseFontSize: 12px;

@StepperDisabledColor: #bbb;

// Scrollbar
@ScrollBarThumbColor: #979797;

@PrefixSuffixBackground: #e4e5e6;
